/* ========== IMPORT / FONTS / COLORS ========== */

    @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');


    /* 
        font-family: 'Exo', sans-serif;
        font-family: 'Special Elite', cursive;
  
        color: #000, #fff;
    */

/* ========== GENERAL ========== */

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html{
        font-size: 16px;
        font-family: 'Special Elite', cursive;
        font-weight: 700;
        background-color: #000;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: 'Exo', sans-serif;
        font-weight: 800;
    }

    h2{
        font-size: 4rem;
        padding-bottom: 1rem;
    }

    h3{
        font-size: 2rem;
        padding-top: 1rem;
    }

    h4{
        padding-bottom: 0.5rem;
    }

    h5{
        font-size: 1.5rem;
        padding: 0.4rem;
    }

/* ========== Nav ========== */

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        text-align: right;
    }

    nav a{
        display: inline-block;
        text-decoration: none;
        color: #000;
        padding: 1.8rem 0.8rem;
    }

    nav a:hover{
        text-decoration: underline;
    }

/* ========== HEADER ========== */

    header{
        background: no-repeat url("../img/bg.jpeg");
        background-size: 1900px;
        height: 1073px;
        background-position: center;
        background-position-y: -130px;
    }

    header img{
        margin: 23.2rem 0 10.3rem;
        max-width: 100%;
    }

/* ========== SECTION GENERAL ========== */

    section p{
        font-size: 21px;
        line-height: 1.4rem;
    }

    section a{
        display: inline-block;
        text-decoration: none;
        color: #000;
        padding: 0.2rem;
        margin: 0.3rem 0;
        border: 2px solid rgba(87, 86, 86, 0.58);
    }

    section a:hover{
        border: 2px solid #000;
    }

/* ========== SECTION HELLO ========== */

    #hello{
        background: no-repeat url("../img/bridge_1.jpg") fixed;
        background-position: center;
        height: 1000px;
    }

    #hello div{
        background: no-repeat url("../img/beans_icon.png");
        background-size: 1500px;
        background-position: center;
        background-position-y: -400px;
        padding: 7rem;
        background-color: #fff;
        height: 600px;
    }

    #hello p{
        width: 570px;
    }

    @media only screen and (max-width: 700px) {
        #hello div{
            padding: 7rem 1rem;
        }
        #hello p{
            width: 400px;
        }
    }

/* ========== SECTION OUR MENU ========== */

    #ourmenu{
        background: no-repeat url("../img/bridge_2.jpg") fixed;
        background-position: center;
        height: 1300px;
    }

    #ourmenu div{
        background: no-repeat url("../img/cake_icon.png");
        background-size: 900px;
        text-align: center;
        padding: 2rem 0;
        background-color: #fff;
        height: 900px;
    }

    #ourmenu img{
        max-width: 80px;
    }

    #ourmenu article{
        max-width: 400px;
        border: 1px solid #000;
        padding: 1rem;
        margin: 1rem auto;
    }

    #ourmenu p{
        font-size: 1.1rem;
    }

/* ========== SECTION OUR STORY + CATERING SERVICES + OUR CAKES ========== */

    #ourstory div, #cateringservices div, #ourcakes div{
        display: inline-block;
        text-align: left;
    }

    #ourstory p, #cateringservices p, #ourcakes p{
        display: inline-block;
        width: 360px;
        font-size: 1.1rem;
    }

    #ourstory img, #cateringservices img, #ourcakes img{
        width: 350px;
        padding: 1rem 1rem 0;
    }

    @media only screen and (max-width: 900px) {
        #ourstory img, #cateringservices img, #ourcakes img{
            display: none;
        }
    }

/* ========== SECTION OUR STORY ========== */

    #ourstory{
        background: no-repeat url("../img/bridge_3.jpg") fixed;
        background-position: center;
        height: 1000px;
    }

    #ourstory article{
        padding: 5rem 1rem;
        background-color: #fff;
        text-align: center;
        height: 600px;
    }

/* ========== SECTION CATERING SERVICES ========== */

    #cateringservices{
        background: no-repeat url("../img/bridge_4.jpeg") fixed;
        background-position: center;
        height: 900px;
    }

    #cateringservices article{
        background: no-repeat url("../img/pie_icon.png");
        background-size: 500px;
        background-position: right;
        padding: 5rem 1rem;
        background-color: #fff;
        text-align: center;
        height: 500px;
    }

    

/* ========== SECTION OUR CAKES ========== */

    #ourcakes{
        background: no-repeat url("../img/muffin_icon.png");
        background-size: 400px;
        padding: 5rem 1rem;
        background-color: #fff;
        text-align: center;
    }

/* ========== FOOTER ========== */

footer {
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 1.5rem;
}

footer li{
    list-style: none;
}

footer p{
    line-height: 1.2rem;
    font-size: 1.1rem;
}

footer li:not(:nth-of-type(3)) a img{
    width: 20px;
}

footer li:nth-of-type(3) a img{
    width: 100px;
}